 /* ============================================ 전체게시글 페이지 디자인 =============================================== */

 .wrapper {
    margin: auto;
    padding: 5%;
    width: 60vw;
    height: 200vh;
    background: #fff;
    margin: auto;
  }

section.all {
    font-size: 20px;
    margin: 0 auto;
  }

.all>h2 {
    margin: 20px;
    font-weight: bold;
    margin-top: 90px;
}

.add-btn { /* 글쓰기 버튼 */
    float: right;

    background: #fff;
    color: #333;
    font: inherit;
    font-weight: 700;
    border-radius: 7px;
    border: 2px solid #ededed;
    padding: 7px 10px;
}


section.all .list-container { /* 게시판 테이블 */
    width: 90%;
    margin: auto;
    margin-bottom: 200px;
}

table {
    width: 100%;   
    border-collapse: separate; /* Ensure that borders are collapsed separately */
    border-spacing: 10px; /* Adjust the spacing between columns */
    font-size: 16px;
}

table thead.head-wrapper tr {
    line-height: 150%;
    font-weight: 700;
}

table tr.post td#bno {
    width: 9%;
}

table tr.post td#category {
    width: 11%;
}

table tr.post td#title {
    width: 33%;
}

table tr.post td#writer {
    width: 15%;
}

table tr.post td#date {
    width: 24%;
}

table tr.post td#view {
    width: 8%;
}



tr.post {
    border-bottom: 1px solid #000;
}

tr.post td {
    line-height: 150%;
}

section.all .list-container .head-wrapper {
    border-bottom: #000 solid 2px;
    
}

.bottom-section {
    margin: 30px auto;
}


.bottom-section nav {
    width: 50%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;

}



.bottom-section nav ul.pagination li.page-item a.page-link {
    width: 40px;
    height: 35px;
    margin: 2%;
    font-size: 14px;

   

}


.writer-info {
    display: none;
    font-size: 18px;
    width: 150px;
    height: 130px;
    background: #97E7E1;
    padding: 10px;
    position: absolute;
    top: 75%;
    left: 85%;
    transform: translateX(-50%);
    z-index: 1;
}


/* pagination style */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.bottom-section {
    display: flex;
    width: fit-content;
    /* height: 50px; */
    margin: 0 auto;
}

.bottom-section nav {
    flex: 1;
    justify-content: center;
}

.bottom-section nav ul {
    text-align: center;
    display: inline-flex;
}


.pagination-custom a {
    color: #444 !important;
    font-size: 25px;
}

.pagination-custom li.active a,
.pagination-custom li:hover a {
    background: #333 !important;
    color: #fff !important;
    
}


.btn-primary{
    position: relative;
    float: right;
}


.number-of-reply {
    font-weight: bold;
    color: #000;
}





