/* reset css */
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');


/* padding 적용해도 box 사이즈 고정 */
* {
  box-sizing: border-box;
}

/* a태그 기능 죽이기 */
a {
  color: inherit;
  text-decoration: none;
}

/* 버튼 디자인 통일 (추후 수정) */
.btn {
  background: #fff;
  color: #333;
  font: inherit;
  font-weight: 700;
  border-radius: 7px;
  border: 2px solid #ededed;
  padding: 7px 10px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
  color: #fff;
}

.btn-red {
  background: #ff2e2e;
  color: #fff;
  border: 2px solid #d40707;
}

.btn-red:hover {
  background: #fff;
  color: #ff2e2e;
}









/*center 추가 */
.wrapper {
  text-align: center;

  width: 60vw;
  height: 100vw;
  margin: auto;
  background: #7AA2E3;

}


/*테두리 전체*/
.content-box {
  width: 60vw;
  height: 100%;
  border-radius: 60px;
  margin: auto;
  background: #F8F6E3;


}

.head {
  width: 100%;
  height: 5vw;
  position: absolute;
  background: silver;
  top: 5%;
  left: 50%;
  /* 수평 가운데 정렬을 위해 왼쪽을 50%로 설정 */
  transform: translateX(-50%);
  /* left 값의 절반만큼 왼쪽으로 이동하여 정확히 가운데 정렬 */
  text-align: right;
  margin-right: 2px;
  border: 3px solid #000;

}

.pointUserName{
  color: gold;
}


.title {
  width: 100%;
  height: 8vw;
    margin-top: 15vw;


}


.titleContentBox span{
  color: black;
}


/*title*/
.titleContent {
  font-size: 30px;
  font-weight: 40px;
  text-align: left;
  margin: 1% 0 0 2%;

}

/* 요소 구분선 */
.boardList th:nth-child(n+2) {
  position: relative;
  margin-left: 5px;
  padding-left: 10px;
}

/* 요소 구분선 */
.boardList th:nth-child(n+2)::after {
  position:absolute;
  left: 0;
  top: 3px;
  content: "";
  width: 2px;
  height: 15px;
  background-color: rgb(0, 0, 0);
}

/* 요소 구분선 */
.titleContentBox span:nth-child(n+2) {
  position: relative;
  margin-left: 5px;
  padding-left: 10px;
}

/* 요소 구분선 */
.titleContentBox span:nth-child(n+2)::after {
  position:absolute;
  left: 0;
  top: 3px;
  content: "";
  width: 2px;
  height: 15px;
  background-color: rgb(255, 0, 0);
}



/*컨텐츠 전체영역*/
.content-group {
  
  /* height: 60vw; */
  top: 5%;


}

.contentHead {
  width: auto;
  color: black;
  font-size: 30px;
  float: right;


}

.contentHead>div {
  display: inline-block;
  margin-right: 10px;
  /* 각 div 사이의 간격을 조절합니다. */

}



.contentHead div:hover {
  color: #ff8342;
}

.Content1 {
  margin-top: 30px;
  
}

.ContentBox {
  display: flex;
  margin-top: 3vw;
}

.textContent {
  width: 60vw; /* 70 문자 너비 */
  
}


.ContentImg {
  flex: 1 0 auto;
  max-width: 300px;
  max-height: 300px; /* 최대 높이 300px로 제한 */
  
  border-radius: 10px;
  margin-left: 1vw;
  border: 3px solid #000;
  overflow: hidden;

  

}


.ContentImg:hover{
  transform: scale(1.1);
  transition: all 1.0s;

}

#normal {
  width: 50% !important;
  height: 500px;
}

.ContentContent {
  flex: 3 0 auto;
  text-align: left;
  padding-left: 20px;
  /* position: absolute; 불필요 */
  color: black;
  font-size: 30px;
  font-weight: 400;
  width: auto;
  overflow:scroll;
  border: 3px solid red;



}


.pointBox {
  font-size: 10vh;
  margin-top: 10vh;
}

.pointCharge {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  color: red;
  
}


.pointBox .pointGroup button {
  border-radius: 10px;
  margin: 1vw;

}

.pointBox .pointGroup button:hover {
  background-color:#002ead;
  transition: 0.7s;


}



/* reply 댓글영역 */
.reply {
  width: 100%;
  height: 150px;
  
  left: 0;
  

  background: yellowgreen;
  color: black;
  text-align: left;
  border: 3px solid #000;
overflow: scroll;
}



.reply .replyTitle {
  margin-left: 2%;
}

.reply .replyBox {
  margin-left: 2%;
}



.ad .ad-box {
  width: 60vw;

  margin-top: 5vw;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}




.ad .ad-box .adtitle {
  text-align: left;
  margin: 5% 0 0 2%;
  font-size: 30px;

}


.ad .ad-box li img{
  border: 3px solid #000;

}


.ad .ad-box .add-group li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 10px; /* 패딩 추가 */
}

.ad .ad-box .add-group li img {
  transition: opacity 0.3s; /* transition 속성 수정 */
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.ad .ad-box .add-group li img:hover {
  opacity: 0.7; /* 이미지에 마우스 호버 시 투명도 조절 */
}

.ad .ad-box .add-group li img::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  background: -webkit-linear-gradient(left, rgba(212, 31, 31, 0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(233, 33, 33, 0) 0%, rgba(255,255,255,.3) 100%);
  transform: skewX(-25deg);
  opacity: 0;
}
 
.ad .ad-box .add-group li img:hover::before {
  animation: shine .75s;
}

@keyframes shine {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    left: 125%;
    opacity: 0;
  }
}












