* {
    box-sizing: border-box;
    font-family: "Orbit", sans-serif;
}

body {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #7AA2E3;
}

.MypostcubeJsp {
    width: 100%;
    height: 100%;
    background: #7AA2E3;
    padding: 20px;
}

.Frame42 {
    background: #F8F6E3;
    width: 80%;
    border-radius: 60px;
    margin: 10%;
}

.main-title-wrapper {
    position: relative;
    top: 50px;
    left: 10%;
}

.main-title-wrapper .main-title {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 60px;
    font-weight: bold;
}

.main-title-wrapper .Cube {
    width: 100px;
    height: 50px;
    position: absolute;
    left: 60%;
    top: 50%;
    color: black;
    font-size: 30px;
    font-weight: bold;
    background-color: #F8F6E3;
    border: 3px solid #7AA2E3;
    border-radius: 60px;
   
}

.main-title-wrapper .List {
    width: 100px;
    height: 50px;
    position: absolute;
    left: 70%;
    top: 50%;
    color: black;
    font-size: 30px;
    font-weight: bold;
    background-color: #F8F6E3;
    border: 3px solid #7AA2E3;
    border-radius: 60px;
    
}

/* ================================================================= */


.post-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
    margin-top: 30px;
    justify-content: space-between;
}

.post-container .post-wrapper {
    position: relative;
    width: 30%;
    height: 350px;
    cursor: pointer;
    transition: 0.5s;
   
}

.post-container .post {
    /* height: 300px; */
    transition: 0.5s;
    border: 1px solid #7AA2E3;
    display: flex;
    position: absolute;
    background: white;
    flex-wrap: wrap;
}

.post-container .post:last-child {
    margin-right: 0;
}

.post-container .post .post-photo {
    width: 100%;
    height: 200px;
}

.post-container .post img {
    width: 100%;
    height: 100%;
}


/* -----------------------게시글 제목 시작-------------------------- */
.post-container .post-wrapper .post-content {
    /* background-color: yellow; */
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-container .post .post-content-wrapper {
    width: 100%;
    background: white;
}

.post-container .post .post-content-wrapper .time-view-wrapper {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

/* -----------------------게시글 제목 시작-------------------------- */


/* ----------------------댓글 & 좋아요 시작----------------------- */
.post-container .post .post-reply {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    background: white;
}

.post-container .post .post-reply .reply {
    justify-content: space-between;
    border: 1px solid #97E7E1;
    background: #97E7E1;
    width: 100px;
    margin-left: 10px;
}

.post-container .post .post-reply .post-like {
    width: 90px;
}
.post-like .like {
    background: #97E7E1;
    border: none;
    border-radius: 60px;
}

.post-like .like:hover {
    background: #e797c3;
}

.post-container .post .post-reply .reply-rec {
    border: 1px solid #7AA2E3;
    width: 60%;
}

/* ----------------------댓글 & 좋아요 끝----------------------- */

* 페이지 스타일 */
/* pagination style */
.bottom-section {
    display: inline-flex;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.bottom-section nav {
    flex: 1;
    justify-content: center;
}

.bottom-section nav ul {
    text-align: center;
}


.pagination-custom a {
    color: #444 !important;
    font-size: 25px;
}

.pagination-custom li.active a,
.pagination-custom li:hover a {
    background: #333 !important;
    color: #fff !important;
}
