      /* common css 가져오기 */
      @import url('./common.css');


  
  
  
      /* ============================ 왼쪽 사이드바 ============================ */
  
      
  
      body {
        font-weight: 100;
        font-size: 28px;
        background: #fff;
        font-family: "Orbit", sans-serif; /* 폰트: orbit */
        font-weight: 400;
        font-style: normal;
      }
  
      aside .left-snb {
        width: 20vw;
        background: #000080;
        color: #666;
        padding: 30px 30px;
        height: 200vh; 
        position: absolute;
        top: 100px;
        /* transition: 0.8s; */
      }
      aside .left-snb ul>li {
        margin-top: 15px;
        color: #fff;
        line-height: 160%;
      }

      aside .left-snb #game a {
        margin-top: 22px;
        color: #fff;
        line-height: 160%;
      }
  
      aside .left-snb ul li a:hover {
        color: #97E7E1;
        font-weight: 600;
      }
      
  
      aside .left-snb ul li>ul {
        color: #fff;
        font-size: 22px;
        line-height: 160%;
      }
  
  
      
  
  
  
  
  
  
  
  
  
  
  
  
      /* ========================== 오른쪽 사이드바 ============================== */
  
      aside .right-snb {
        position: absolute;
        right: 0;
        top: 100px;
        width: 20vw;
        background: #000080;
        float: right;
        height: 200vh;
        box-sizing: border-box;
      }
  
      aside .right-snb .point {
        margin: 20px 20px;
        margin-top: 50px;
      }

      .fa-coins:before {
       
        color: #fff;
    }
  span{
    color: #fff;
  }
  
      aside .right-snb .weather {
        background: #fff;
        width: 90%;
        height: 300px;
        margin: 30px 5%;
        border-radius: 10%;
      }
  
      aside .right-snb .friends {
        position: relative;
      }
  
      aside .right-snb .friends .friends { /* 친구 목록 */
        font-size: 26px;
        background: #fff;
        padding: 30px;
        margin: 0 5%;
        border-radius: 10%;
        
        position: relative;
      }
  
      aside .right-snb .friends .friends ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
      }
  
  
  
      aside .right-snb .friends .friends>ul>li {
        color: #797474;
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
      }
  
      #followCollapse {
        margin-top: 15px;
      }

      #followContent {
        margin-top: 10px;
      }

      
  
      .profile-box { /* 프로필 사진 */
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        font-size: 12px;
        margin-right: 20px;
      }
  
      
  
      .profile-box img {
        width: 100%;
        cursor: pointer;
      }
  b{
    color: #000;
  }
      aside .right-snb .friends .friendName {
        line-height: 26px;
        font-size: 18px;
        color: #000;
      }

      aside .right-snb .friends b {
        line-height: 26px;
        font-size: 16px;
      }
  
      aside .right-snb .friends .follow-detail { /* 친구 유저 정보 */
        width: 90%;
        height: 200px;
        background: #cce37a;
        border-radius: 20%;
        margin: auto 5%;
        position: absolute;
        top: 50%;
        right: 30%;
        display: none;
        z-index: 100;
        transition: transform 0.5s ease;
      }
  
      .animate {
        /* transform: translateY(30px);  */
        /* Apply moving transformation */
        transform: scale(1.1);
      }
  
      aside .right-snb .friends .follow-detail p {
        margin-top: 10%;
        margin-left: 10%;
      }

      aside .right-snb .friends .follow-detail p>i.fa-x {
        float: right;
      }
  
  
      aside .right-snb .friends .follow-detail>ul {
        margin-top: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      aside .right-snb .friends .follow-detail i {
        cursor: pointer;
      }
  
  
      

      .highlight {
        font-weight: 700;
        color: #cce37a;
      }

      p.myAccountNumber {
        display: none;
      }
 /* 날씨 */
  .weather1{
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
  }
  .icon{
  margin-left: 40px;
  }
  .wea{
  margin:0px 5px;


  } 

  .button{
  background: none;
  border: 0; background-color: transparent;
  width: 100%;
  }
