.wrapper {
  margin: auto;
  padding: 5%;
  width: 60vw;
  height: 100vh;
  background: #F8F6E3;
  margin: auto;
}

section.form-container {
  font-size: 20px;
  margin: 0 auto;
  border: #000 solid 1px;
}

section.form-container h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 15px;
}

section.form-container form {
  margin: 15px;
}

section.form-container select.form-select {
  margin: 10px;
  width: 330px;
}

section.form-container input#title {
  margin: 10px;
  width: 60%;
}