<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
</head>
<body>

    <div class="Ma" style="width: 1440px; height: 1794px; position: relative; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
        
        <div class="Chatting" style="width: 288px; height: 347px; left: 1152px; top: 1340px; position: absolute">
          <div class="ChattingBox" style="width: 288px; height: 347px; left: 0px; top: 0px; position: absolute; background: white"></div>
          <div class="ChattingWindow" style="width: 275px; height: 35px; left: 6px; top: 307px; position: absolute; background: white; border-radius: 50px; border: 1px #D9D9D9 solid"></div>
          <img class="SendIcon" style="width: 26px; height: 26px; left: 244px; top: 312px; position: absolute" src="https://via.placeholder.com/26x26" />
          <div class="Message3" style="width: 140px; height: 51px; left: 281px; top: 233px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; background: #205EFE"></div>
          <div class="Message2" style="width: 102px; height: 50px; left: 6px; top: 173px; position: absolute; background: #D9D2D2"></div>
          <div class="Message1" style="width: 120px; height: 50px; left: 6px; top: 100px; position: absolute; background: #D9D2D2"></div>
          <div class="NowTime" style="left: 103px; top: 60px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">오후 2:45</div>
        </div>
        <div class="Content" style="width: 543px; height: 376px; left: 448px; top: 269px; position: absolute">
          <div class="Rectangle2" style="width: 543px; height: 45px; left: 0px; top: 83px; position: absolute; background: rgba(217, 217, 217, 0); border: 3px #7AA2E3 solid"></div>
          <div class="Rectangle4" style="width: 543px; height: 45px; left: 0px; top: 170px; position: absolute; background: rgba(217, 217, 217, 0); border: 3px #F7CAC9 solid"></div>
          <div class="Rectangle5" style="width: 543px; height: 45px; left: 0px; top: 253px; position: absolute; background: rgba(217, 217, 217, 0); border: 3px #7AA2E3 solid"></div>
          <div class="Rectangle6" style="width: 543px; height: 45px; left: 0px; top: 331px; position: absolute; background: rgba(217, 217, 217, 0); border: 3px #7AA2E3 solid"></div>
          <div class="Rectangle3" style="width: 543px; height: 45px; left: 0px; top: 0px; position: absolute; background: rgba(217, 217, 217, 0); border: 3px #7AA2E3 solid"></div>
        </div>
        <div class="Gender" style="width: 175px; height: 25px; left: 463px; top: 695px; position: absolute">
          <div class="Genderbtn" style="width: 123px; height: 19px; left: 0px; top: 5px; position: absolute">
            <div class="Ellipse1" style="width: 19px; height: 19px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
            <div class="Ellipse2" style="width: 19px; height: 19px; left: 104px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
          </div>
          <div class="Gendername" style="width: 141px; height: 25px; left: 34px; top: 0px; position: absolute">
            <div style="left: 0px; top: 1px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">남자</div>
            <div style="left: 104px; top: 0px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">여자</div>
          </div>
        </div>
        <div class="Title" style="width: 424px; height: 526px; left: 448px; top: 235px; position: absolute">
          <div style="left: 0px; top: 0px; position: absolute; color: #7AA2E3; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">아이디를 입력해주세요</div>
          <div style="left: 0px; top: 89px; position: absolute; color: #7AA2E3; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">비밀번호를 입력해주세요</div>
          <div style="left: 0px; top: 171px; position: absolute; color: #F7CAC9; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">비밀번호를 다시 입력해주세요 (일치하지 않습니다)</div>
          <div style="left: 0px; top: 256px; position: absolute; color: #7AA2E3; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">이름을 입력해주세요</div>
          <div style="left: 0px; top: 337px; position: absolute; color: #7AA2E3; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">사용할 닉네임을 입력해주세요</div>
          <div style="left: 0px; top: 420px; position: absolute; color: #7AA2E3; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">성별을 선택해주세요</div>
          <div style="left: 0px; top: 502px; position: absolute; color: #7AA2E3; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">생년월일을 입력해주세요</div>
        </div>
        <div class="Birth" style="width: 446px; height: 31px; left: 458px; top: 773px; position: absolute">
          <div class="Birthbox" style="width: 416px; height: 31px; left: 0px; top: 0px; position: absolute">
            <div class="Rectangle7" style="width: 109px; height: 31px; left: 0px; top: 0px; position: absolute; background: rgba(217, 217, 217, 0); border: 1px #7AA2E3 solid"></div>
            <div class="Rectangle8" style="width: 109px; height: 31px; left: 154px; top: 0px; position: absolute; background: rgba(217, 217, 217, 0); border: 1px #7AA2E3 solid"></div>
            <div class="Rectangle9" style="width: 109px; height: 31px; left: 307px; top: 0px; position: absolute; background: rgba(217, 217, 217, 0); border: 1px #7AA2E3 solid"></div>
          </div>
          <div class="Birthtext" style="width: 324px; height: 25px; left: 122px; top: 3px; position: absolute">
            <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">년</div>
            <div style="left: 152px; top: 1px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">월</div>
            <div style="left: 305px; top: 0px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">일</div>
          </div>
        </div>
      </div>

    
</body>
</html>