<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="mygallery.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
</head>
<body>
  
  <div class="MygalleryJsp" >
    <div class="Rectangle1" ></div>
    <div class="Rectangle69" ></div>
    <div class="let1" >+ 사진 추가</div>
    <div class="Rectangle70"></div>
    <div class="e20232022">
      <span class="let3" >2024<br/></span>
      <span class="let4">2023<br/>2022</span></div>
    <div class="let2">최신순/가나다순</div>
    <div class="Ellipse12" ></div>
    <div class="let5" >4</div>
    <div class="Ellipse13" ></div>
    <div class="let6">8</div>
    <div class="Ellipse14" ></div>
    <div class="let7" >16</div>
    <div class="Rectangle51" ></div>
    <div class="Frame20" >
      <div class="Gallery">Gallery</div>
    </div>
    <img class="R1" style="width: 363px; height: 271px; left: 299px; top: 249px; position: absolute" src="https://via.placeholder.com/363x271" />
    <img class="R3" style="width: 363px; height: 271px; left: 302px; top: 609px; position: absolute" src="https://via.placeholder.com/363x271" />
    <img class="R4" style="width: 363px; height: 271px; left: 772px; top: 609px; position: absolute" src="https://via.placeholder.com/363x271" />
    <img class="R2" style="width: 363px; height: 271px; left: 767px; top: 249px; position: absolute" src="https://via.placeholder.com/363x271" />
    <div class="Frame40">
      <div class="HomePostingDiaryGalleryChatMarket" >HOME<br/>Posting<br/>Diary<br/>Gallery<br/>Chat<br/>Market</div>
    </div>
  </div>




</body>
</html>