<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/src/main/resources/static/assets/css/mygallery.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">
  
</head>
<body>
  
  <div class="MygalleryJsp" >
  <div class="mar">
    <div class="background">
    <div class="Rectangle1" >
     <button class="add-photo"><div>+ 사진 추가</div></button>
    
    <div class="Rectangle70">
    <div class="e20232022">
      <span class="let3" >2024<br/></span>
      <span class="let4">2023<br/></span>
      <span class="let5" >2022<br/></span>
    </div>
    </div>
    <div class="let2">
      <span class="new">최신순</span>
      /
      <span class="abc">가나다순</span>
    </div>
    
    <button class="Ellipse12">4</button>
    <button class="Ellipse13">8</button>
    
    <button class="Ellipse14">16</button>
    
    <div class="Rectangle51" ></div>
    <div class="Frame20" >
      <div class="Gallery">Gallery</div>
    </div>
        <div class="bord">
    <div class="card-container">
      <c:forEach var="b" items="${bList}">
          <div class="card-wrapper">
              <section class="card" data-bno="${b.boardNo}">
                  <div class="card-title-wrapper">
                      <h2 class="card-title">${b.shortTitle}</h2>
                      <div class="time-view-wrapper">
                          <div class="time">
                              <i class="far fa-clock"></i>
                                  ${b.regDate} </div>
                          <div class="view">
                              <i class="fas fa-eye"></i>
                              <span class="view-count">${b.viewCount}</span>
                          </div>
                      </div>
                  </div>
                  <div class="card-content">

                    ${b.shortContent}

                  </div>
              </section>
              
              <c:if test="${login.auth == '관리자회원' || login.account == b.writer}">
                  <div class="card-btn-group">
                      <button class="del-btn" data-href="/board/delete?bno=${b.boardNo}">
                          <i class="fas fa-times"></i>
                      </button>
                  </div>
              </c:if>

          </div>
      </c:forEach>
  </div>
        </div>
  </div>
</div>
<div class="Frame40" style="">
  <div class="HomePostingDiaryGalleryChatMarket" style="">HOME<br/>Posting<br/>Diary<br/>Gallery<br/>Chat<br/>Market</div>
</div>
  </div>
  </div>




</body>
</html>