<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.blog.community.project.mapper.BoardMapper">

    <select id="save">
        INSERT INTO tbl_board
        (title, content, writer, category, post_img)
        VALUES (#{title}, #{content}, #{writer}, #{category}, #{postImg})
    </select>

    <select id="findAll" resultType="board">
        SELECT * FROM tbl_board
        ORDER BY bno DESC
    </select>

    <select id="findOne" resultType="board">
        SELECT * FROM tbl_board
        WHERE bno = #{bno}
    </select>

    <select id="findCategory" resultType="board">
        SELECT * FROM tbl_board
        <if test="category == 'normal'">
            WHERE category = 'NORMAL'
        </if>
        <if test="category == 'game'">
            WHERE category = 'GAME'
        </if>
        <if test="category == 'market'">
            WHERE category = 'MARKET'
        </if>
        <if test="category == 'movie'">
            WHERE category = 'MOVIE'
        </if>
        <if test="category == 'trip'">
            WHERE category = 'TRIP'
        </if>
        ORDER BY bno DESC
    </select>

    <sql id="search">
        <if test="type == 'title'">
            WHERE title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'content'">
            WHERE content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'writer'">
            WHERE writer LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'tc'">
            WHERE title LIKE CONCAT('%', #{keyword}, '%')
            OR content LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </sql>



    <update id="updateViewCount">
        UPDATE tbl_board
        SET view_count = view_count + 1
        WHERE bno = #{bno}
    </update>

    <update id="updateReportCount">
        UPDATE tbl_board
        SET report_count = report_count + 1
        WHERE bno = #{bno}
    </update>


    <update id="updateLikeCount">
        UPDATE tbl_board
        SET like_count = like_count + #{number}
        WHERE bno = #{bno}
    </update>

    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_board
        <include refid="search" />
    </select>

    <select id="findMine" resultType="board">
        SELECT * FROM tbl_board
        WHERE writer = #{account}
        ORDER BY bno DESC
        LIMIT #{page.pageStart}, #{page.amount}
    </select>

<!--    <insert id="save">-->
<!--        INSERT INTO image(origin_image_name, new_image_name, image_path)-->
<!--        VALUES(#{originImageName}, #{newImageName}, #{imagePath})-->
<!--    </insert>-->



</mapper>