<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.blog.community.project.mapper.DiaryMapper">

    <insert id="todoSave">
        INSERT INTO tbl_diary
        (todo, reg_date, writer)
        VALUES (#{toDo}, #{regDate}, #{writer})
    </insert>

    <insert id="whatdoSave">
        INSERT INTO tbl_diary
        (whatdo, reg_date, writer)
        VALUES (#{whatDo}, #{regDate}, #{writer})
    </insert>

    <select id="findAll" resultType="diary">
        SELECT * FROM tbl_diary
    </select>

    <select id="findTodoList" resultType="Diary">
        SELECT * FROM tbl_diary
        WHERE reg_date = #{regDate}
        ORDER BY diary_no DESC;
    </select>

    <select id="findWhatdoList" resultType="Diary">
        SELECT * FROM tbl_diary
        WHERE reg_date = #{regDate}
        ORDER BY diary_no DESC;
    </select>



    <select id="findOne" resultType="diary">
        SELECT * FROM tbl_diary
        WHERE diary_no = #{diaryNo}
    </select>

    <update id="modifyTodo">
        UPDATE tbl_diary
        SET todo = #{toDo}
        WHERE diary_no = #{diaryNo}
    </update>

    <update id="modifyWhatdo">
        UPDATE tbl_diary
        SET whatdo = #{whatDo}
        WHERE diary_no = #{diaryNo}
    </update>

    <delete id="todoDelete">
        DELETE FROM tbl_diary
        WHERE diary_no = #{diaryNo}
    </delete>

    <delete id="whatdoDelete">
        DELETE FROM tbl_diary
        WHERE diary_no = #{diaryNo}
    </delete>







</mapper>