<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.blog.community.project.mapper.MarketMapper">


    <insert id="save">
        INSERT INTO tbl_market
        (text_title, text_content, text_writer, category, price, address, post_img)
        VALUES
        (#{textTitle}, #{textContent}, #{textWriter}, #{category}, #{price}, #{address}, #{postImg});
        <!--VALUES는 SQL 문법에서 데이터 삽입(INSERT) 작업을 할 때,
        특정 테이블의 컬럼에 삽입될 값들을 지정하는 데 사용되는 키워드입니다.-->
    </insert>


    <select id = "findAll" resultType="market">
        <!-- resultType 원래는 풀 경로이나, mybatis-config.xml에서 메서드화해서 줄임 // select 리턴 타입 설정 -->
        <!-- selectType은 resultType(return) 필수)-->
        SELECT * FROM tbl_market
        ORDER BY board_no DESC
    </select>

    <select id = "findOne" resultType="market">
        SELECT * FROM tbl_market
        WHERE board_no = #{boardNo}
    </select>




    <update id="modify">
        UPDATE tbl_market
        SET text_title = #{textTitle},
        text_content = #{textContent},
        category = #{category},
        price = #{price},
        address = #{address}
        WHERE board_no = #{boardNo}
    </update>

    <update id = "updateViewCount">
        UPDATE tbl_market
        SET view_count = view_count + 1
        WHERE board_no = #{boardNo}
    </update>

    <delete id="delete">
        DELETE FROM tbl_market
        WHERE board_no = #{boardNo}
    </delete>

    <insert id="addFav">
        INSERT INTO market_favorite
        VALUES
        (#{accountNumber}, #{boardNo})
    </insert>

    <select id="checkFav" resultType="java.lang.Integer">
        SELECT board_no
        FROM market_favorite
        WHERE account_number = #{accountNumber}
    </select>

    <delete id="removeFav">
        DELETE FROM market_favorite
        WHERE account_number = #{accountNumber}
    </delete>

    <update id="updateRateBoard">
        UPDATE tbl_user
        SET rate = rate + 1
        WHERE account_number = #{textWriter}
    </update>

    <!-- 즐겨찾기 -->
    <insert id="addRate">
        INSERT INTO tbl_market_rate
        VALUES (#{boardNo}, #{textWriter}, #{message}, #{chooseReason})
    </insert>

    <select id="checkRate" resultType="int">
        SELECT rate FROM tbl_user
        WHERE account_number = #{accountNumber}
    </select>

    <select id="checkRateRelation" resultType="rate">
        SELECT * FROM tbl_market_rate
        WHERE board_no = #{boardNo} AND text_writer = #{textWriter}
    </select>




</mapper>
