<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.blog.community.project.mapper.UserMapper">

    <insert id="save">
        INSERT INTO tbl_user
            (account_number, password, name, email, birthday, gender, nickname, login_method, profile_picture)
        VALUES
            (#{accountNumber}, #{password}, #{name}, #{email}, #{birthday}, #{gender}, #{nickname}, #{loginMethod}, #{profilePicture})
    </insert>

    <select id="findUser" resultType="user">
        SELECT * FROM tbl_user
        WHERE account_number = #{accountNumber}
    </select>


    <select id="isDuplicate" resultType="boolean">
        SELECT COUNT(*)
        FROM tbl_user
        <if test="type == 'account'">
            WHERE account_number = #{keyword}
        </if>
        <if test="type == 'email'">
            WHERE email = #{keyword}
        </if>
    </select>

    <update id="updateReport">
        UPDATE tbl_user
        SET report = report + 1, rate = rate - 0.1
        WHERE account_number = #{accountNumber}
    </update>

    <update id="updateProfile">
        UPDATE tbl_user
        SET profile_picture = #{profilePicture}
        WHERE account_number = #{accountNumber}
    </update>

    <update id="saveAutoLogin">
        UPDATE tbl_user
        SET session_id = #{sessionId}, limit_time = #{limitTime}
        WHERE account_number = #{account}
    </update>
    
    <select id="findMemberByCookie" resultType="user">
        SELECT
            account_number, name, email, auth, limit_time
        FROM tbl_user
        WHERE session_id = #{sessionId}
    </select>

    <update id="modify">
        UPDATE tbl_user
        SET password = #{password},
            birthday = #{birthday},
            gender = #{gender},
            nickname = #{nickname}
        WHERE account_number = #{accountNumber}
    </update>

    <delete id="delete">
        DELETE FROM tbl_user
        WHERE account_number=#{account}
    </delete>

    <select id="findUserByFollower" resultType="java.lang.String">
        SELECT follower
        FROM tbl_follow
        WHERE following = #{account}
        LIMIT 0, #{number}
    </select>

    <select id="findUserByFollowing" resultType="java.lang.String">
        SELECT following
        FROM tbl_follow
        WHERE follower = #{account}
    </select>

    <insert id="addFollower">
        INSERT INTO tbl_follow
        VALUES (#{me}, #{you})
    </insert>

    <delete id="removeFollower">
        DELETE FROM tbl_follow
        WHERE following = #{me}
        AND follower = #{you}
    </delete>

    <update id="addPoint">
        UPDATE tbl_user
        SET point = point + #{point}
        WHERE account_number = #{me}
    </update>

</mapper>